<!doctype html>
<meta charset="utf-8">
<head>
    <style>
    div.gallery {
        margin: 5px;
        border: 1px solid #ccc;
        float: left;
        width: 400px;
    }
    
    div.gallery:hover {
        border: 1px solid #777;
    }
    
    div.gallery img {
        width: 100%;
        height: auto;
    }
    
    div.desc {
        padding: 15px;
        text-align: center;
    }
    </style>
    <meta http-equiv="refresh" content="10">
    </head>
<title>Recognition bot application</title>
<body>
  <header>
    <h1>Trick the recognition bot!</h1>
  </header>

  <div class="page">
    {% for image in sequence_images %}
    <div class="gallery">
        <a target="_blank" href="{{ image.path }}"></a>
          <img src="{{ image.path }}" alt="" width="400">
        </a>
          <div class="desc">
              {% for classification in image.classifications if "person" in classification %}    
              {{ classification }}<br>
              {% else %}
              No person found!<br>
              {% endfor %}
          </div>
    </div>
    {% endfor %}
  </div>
</body>